:root {
	--main-bg-color: #009d63;
	--main-text-color: #009d63;
	--second-text-color: #bbbec5;
	--second-bg-color: #c1efde;
}

.primary-text {
	color: var(--main-text-color);
}

.second-text {
	color: var(--second-text-color);
}

.primary-bg {
	background-color: var(--main-bg-color);
}

.secondary-bg {
	background-color: var(--second-bg-color);
}

.rounded-full {
	border-radius: 100%;
}

#wrapper {
	overflow-x: hidden;
	background-image: linear-gradient(
		to right,
		#baf3d7,
		#c2f5de,
		#cbf7e4,
		#d4f8ea,
		#ddfaef
	);
}
hr {
	background-color: #95a5a6;
}
button {
	margin: 5px;
}
a {
	list-style: none;
}
#sidebar-wrapper {
	min-height: 100vh;
	margin-left: -15rem;
	-webkit-transition: margin 0.25s ease-out;
	-moz-transition: margin 0.25s ease-out;
	-o-transition: margin 0.25s ease-out;
	transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
	padding: 0.875rem 1.25rem;
	font-size: 1.2rem;
}
#sidebar-wrapper a:hover {
	color: var(--main-text-color);
}
#sidebar-wrapper .list-group {
	width: 15rem;
}

#page-content-wrapper {
	min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
	margin-left: 0;
}

#menu-toggle {
	cursor: pointer;
}
.list-group-item {
	border: none;
	padding: 20px 30px;
}

.list-group-item.active {
	background-color: transparent;
	color: var(--main-text-color);
	font-weight: bold;
	border: none;
}
.table-head .row {
	margin-top: 10px;
}
.table-head .left {
	float: left;
}
.table-head .right {
	float: right;
}
.table-head .center {
	text-align: center;
}
.table > tbody > tr > * {
	vertical-align: middle;
}
.col-lg-12 {
	text-align: center;
}
.table-responsive .pagination {
	float: right;
}
.card {
	max-width: 90%;
}
.card .col-md-4 img {
	display: block;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}
@media (min-width: 768px) {
	#sidebar-wrapper {
		margin-left: 0;
	}

	#page-content-wrapper {
		min-width: 0;
		width: 100%;
	}

	#wrapper.toggled #sidebar-wrapper {
		margin-left: -15rem;
	}
}
